@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  width: 100%;
  background-color: #121E2A;
}
.root,
#root,
#docs-root {
  --primary: #00D7F5;
  --secondary: #F7AAD4;
  --tertiary: #3C4858;
  --darkgrey: #616161;
  --grey: #979797;
  --lightgrey: #AEAAAA;
  --white: #fff;
  --background: #121E2A;
  --banner: #466382;
  --header: #152230;
}
