@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  height: 100%;
  width: 100%;
  background-color: #121e2a;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Inconsolata,cursive';
}
a {
    color: inherit;
    text-decoration: none;
}

